models/BlackGrouse/Outputs
models/Lynx/Outputs
models/GettingStarted/Outputs
data/wc*
models
data/ESP*
data/ebd*
data/World*
data/*Grass*
data/*grass*
data/*5km*
data/redkite_det*
data/*thinned*
data/Occ6_DynamicOccModel.RData
